/* Layout */

#modules, #project {
  margin-left: 290px;
  float: left;
  z-index: 1;
}

#sidebar {
  width: 290px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  background: #f5f5f5;
  z-index: 2;
}

li.project:hover .project-name {
  color: #000;
  cursor: pointer;
}

#project {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 10px;
}

/* Common */

body {
  font-family: helvetica, verdana, arial, sans-serif;
}

h1 {
  padding: 10px 10px;
  margin: 15px 0;
  font-size: 2em;
  color: #68a;
}

h2, h3 {
  margin: 1em 0;
}

.digit-block {
  margin-top: 5px;
  font-size: 1.5em;
  font-weight: 700;
  height: 40px;
  text-align: center;
  float: right;
  margin-left: 10px;
  padding: 5px;
}

.digit-block.watchers {
  width: 60px;
}

.digit-block.forks {
  width: 40px;
  margin-right: 15px;
}

.digit-block .hint {
  font-size: 0.4em;
  line-height: 10px;
  color: #bbb;
}

.description {
  float: left;
  padding: 0 5px;
  height: 50px;
  position: relative;
  width: 500px;
  overflow: hidden;
}
.description .project-name {
  font-weight: 700;
  font-size: 1.75em;
  color: #ccc;
  white-space: nowrap;
}
.description .hint {
  font-size: 0.85em;
  line-height: 20px;
  white-space: normal;
}

li.project {
  white-space: nowrap;
  height: 50px;
  clear: both;
}

li.project.even {
  background: #F7F7F7;
}

ul {
  clear: both;
}

#sidebar li {
  line-height: 1.5em;
  font-weight: 700;
  color: #789;
}


#sidebar li a, #sidebar li a:visited {
  color: #68a;
  text-decoration: none;
}

#sidebar > ul {
  list-style-type: circle;
}

#sidebar > ul > li > ul {
  list-style-type: disc;
}

#sidebar > ul > li > ul > li > ul{
  list-style-type: square;
}

ul.index li {
  margin-left: 20px;
}

/* README styling */

pre, code {
  12px 'Bitstream Vera Sans Mono','Courier',monospace;
}

.wikistyle {
  padding: 10px;
  background: #f8f8f8;
  border: 1px solid #eee;
}

.wikistyle p {
  line-height: 1.5em;
}

.wikistyle h1 {
  font-size: 170%!important;
  border-top: 4px solid #AAA!important;
  padding-top: .5em!important;
  margin-top: 1.5em!important;
  color: black;
}

.wikistyle h2 {
  font-size: 150%!important;
  margin-top: 1.5em!important;
  border-top: 4px solid #E0E0E0!important;
  padding-top: .5em!important;
  color: black;
}

.wikistyle code {
  font-size: 12px;
  background-color: ghostWhite;
  color: #444;
  padding: 0 .2em;
  border: 1px solid #DEDEDE;
}

.wikistyle pre {
  margin: 1em 0;
  font-size: 12px;
  background-color: #EEE;
  border: 1px solid #DDD;
  padding: 5px;
  color: #444;
  overflow: auto;
  -webkit-box-shadow: rgba(0,0,0,0.07) 0 1px 2px inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.wikistyle pre code {
  padding: 0!important;
  font-size: 12px!important;
  background-color: #EEE!important;
  border: none!important;
}
